* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: crimson;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: turquoise;
    padding: 20px;
    margin: 20px;
  }

  li {
    list-style-type: none;
}

 #game-collection {
    display: flex;
    flex-wrap: wrap;
  }
  
  #game-collection-item {
    flex: 33%;
    flex-direction: row;
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    max-width: fit-content;
  }
  
  